<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="input email required user_email">
    <label class="email required" for="user_email">Email</label>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="input password required user_password">
    <label class="password required" for="user_password">Password</label>
    <%= password_field_tag :password %>
  </div>

  <input type="submit" name="commit" value="Log in" class="btn" data-disable-with="Log in">
<% end %>
