table {
  border: 1px solid $gray-dark;
  border-collapse: collapse;
  width: 100%;
  margin-top: 3rem;
  thead {
    th {
      background-color: $gray-dark;
      color: $white;
      padding: .5rem;
    }
  }
  tbody {
    td {
      padding: .5rem;
    }
  }
}
