body {
  font-family: 'open_sans';
  padding: 0;
  color: $gray;
}

h1,
h2,
strong {
  color: $gray-dark;
}

.page-title {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $primary;
  margin-bottom: 3rem;
}

.header {
  .logo {
    img {
      width: 160px;
      float: left;
    }
  }
}

.skidow {
  font-family: 'helvetica_rounded_bold';
  color: $primary;
}

.banner-top_info,
.banner-side_info {
  display: none;
}

.container {
  width: 80rem;
  margin: 0 auto;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
}

.positive {
  color: $positive;
}

.negative {
  color: $negative;
}

.cf {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
