@font-face {
  font-family: 'helvetica_rounded_bold';
  src:asset-url('HelveticaRoundedBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src:asset-url('OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_light';
  src:asset-url('OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_light_italic';
  src:asset-url('OpenSans-LightItalic.ttf');
  font-weight: normal;
  font-style: normal;
}
