<h1 class="page-title">Conta</h1>

<p>
  <b>Balance: </b> <span class="<%= current_user.account.balance_positive ? 'positive' : 'negative' %>"><%= current_user.account.balance %></span>
</p>

<%= render "transactions_list" %>
